name: build

on:
  push:
    branches: [ '*' ]
    tags: ['*']
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.8", "3.9", "3.10", "3.11"]
        os:
        - windows-2019
        - ubuntu-20.04

    runs-on: ${{ matrix.os }}

    steps:
    - name: "Disable git autoCRLF"
      run: git config --global core.autocrlf false

    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python_version }}

    - name: Install libraries
      run: pip install -e .[test]

    - name: Show library versions
      run: pip freeze

    - name: Run tests
      run: python -m unittest discover -s tests -t . -v

  example:
    runs-on: ubuntu-latest

    steps:
    - name: "Disable git autoCRLF"
      run: git config --global core.autoCRLF false

    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4

    - name: Install dependencies
      run: pip install -e .

    - name: Run an example.
      run: python example/example1.py

  release:
    if: startsWith(github.ref, 'refs/tags/')

    needs: [test]
    runs-on: ubuntu-latest

    steps:
    - name: "Disable git autoCRLF"
      run: git config --global core.autoCRLF false

    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4

    - name: Install dependencies
      run: pip install -e .[package]

    - name: Create wheel package
      run: python setup.py bdist_wheel

    - run: ls -alF dist

    - name: Upload all artifacts
      uses: actions/github-script@v6
      env:
        ASSETS_DIR: dist
        TAG_NAME: ${{ github.ref }}
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      with:
        script: |
          console.log("environment", process.versions);
          const fs = require("fs").promises;
          const path = require("path");
          const { repo: { owner, repo } } = context;
          const tag_name = process.env["TAG_NAME"];

          const response = await github.rest.repos.createRelease({
            owner,
            repo,
            tag_name,
            body: "Release " + tag_name,
            draft: true,
            prerelease: false,
          });

          const release_id = response.id;
          const assets_dir = process.env["ASSETS_DIR"];

          const files = await fs.readdir(assets_dir);
          console.log("files", files);
          const asset_uploaders = files.map(file => path.join(assets_dir, file)).map(file => {
            return fs.readFile(file).then(data => {
              return github.rest.repos.uploadReleaseAsset({
                owner,
                repo,
                release_id,
                name: path.basename(file),
                data
              });
            });
          });
          await Promise.all(asset_uploaders);
